<ion-content>
  <div class="personal-container">
    <div class="page-title">Información Personal</div>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            @for (item of personalInfo; track item.label) {
              <ion-col size="12" size-md="6" class="info-col">
                <div class="info-label">{{ item.label }}</div>
                <div class="info-value">{{ item.value }}</div>
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>